/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #e2a139, #f9d423);
}

.toss-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  width: 80%;
  padding: 60px;
  margin: 100px;
}

@media screen and (min-width: 768px) {
  .toss-container {
    width: 55%;
  }
}

.heading {
  text-align: center;
  color: #a35200;
  font-family: 'Roboto';
  font-size: 64px;
  font-weight: 500;
}

.decision {
  color: #334155;
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 500;
  margin: 0px;
}

.toss-img {
  height: 320px;
  width: 320px;
  margin-top: 20px;
}

.toss-coin {
  background-color: #f9d423;
  color: #a35200;
  font-family: 'Roboto';
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: 180px;
  font-weight: 500;
  font-size: 28px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .result-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.result {
  color: #475569;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
  margin-left: 40px;
  margin-right: 40px;
}
